.cameraIcon{
    width: 100px;
    height: 100px;
}

.removeIcon{
    width: 20px;
    height: 20px;
}

.card{
    margin-top: 40%;
}
.instruccion{
    p{
    margin-left: 20px;
    margin-top: 15px;
    }
}