.title{
    font-size: 30px;
    color: white;
    margin-top: 170px;
    margin-bottom: 40px;
}

.icon{
    margin-top: 25px;
}
.image{
    margin-top: 30px;
    height: 20px;
    img{
        width: 150px;
    }
}